body
{
    font-size:62.5%;
    line-height:1.2;
    color:#000;
}

#header
{
    background:#333;
    background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(18%, #515151), color-stop(85%, #373737), color-stop(100%, #333333));
    background-image:-webkit-linear-gradient(top, #555555 0%,#515151 18%,#373737 85%,#333333 100%);
    background-image:-moz-linear-gradient(top, #555555 0%,#515151 18%,#373737 85%,#333333 100%);
    background-image:-o-linear-gradient(top, #555555 0%,#515151 18%,#373737 85%,#333333 100%);
    background-image:linear-gradient(top, #555555 0%,#515151 18%,#373737 85%,#333333 100%);
    -webkit-box-shadow:0 0 10px #333;
    -moz-box-shadow:0 0 10px #333;
    box-shadow: 0 0 10px #333;
    font-size:13px;
    line-height:17px;
    color:#333;
    font-weight:normal;
    z-index:10001;
    height:42px;
    position:fixed;
    top:0;
    width:100%;
}

#header a
{
  color: #D7D7D7;
    
}

#header a:hover
{
    color: #2e8dd7;
    text-decoration:none;
}

#wrapper
{
    background-color:#3f3f3f;
    background-image:-webkit-linear-gradient(top,#696969 0%,#3f3f3f 100%);
   /* height:42px;*/
    position:relative;
    margin-left:auto;
    margin-right:auto;
    width:974px;
    position:relative;
}

#body .wrapper
{
    padding:0 10px;
}

#body, .primary, .wrapper
{
    clear:both;
}

#body:after, .primary:after, .wrapper:after
{
    content:"";
    display:table;
    clear:both;
}

#wrapper li
{
    list-style-type:none;
    display:inline;
}

#li-logo
{
    background:url('logo_linkedin.png') left center no-repeat;
    width:93px;
    text-indent:-119988px;
    overflow:hidden;
    text-align:left;
    margin-top:3px;
    margin-left:0px;
    margin-right:5px;
    display:block;
    height:36px;
    position:relative;
    left:-1px;
    float:left;
}

#header-list
{
    float:right;
    list-style:none;
}

#header #header-list .nav-item
{
    float:left;
    line-height:13px;
    position:relative;
}

#header #header-list .nav-item:active
{
    background-color:black;
}


.nav-link
{
    padding:13px 10px 14px 10px;
    color:#D7D7D7;
    text-decoration:none;
    cursor:pointer;
    display:block;
    font-family:Sans-Serif;
}

.navlink :hover
{
    color: #2e8dd7;
    cursor:pointer;
}

.ally-content
{
    text-indent:-119988px;
    overflow:hidden;
    text-align:left;
    height:0;
}

a
{
    color:#0077b5;
    text-decoration:none;
}

#tag_a
{
    color:#0077b5;
    text-decoration:none;
}


#body
{
    padding:10px 0;
    margin-top:80px;
    margin-bottom:10px;
    margin-left:auto;
    margin-right:auto;
    width:980px;
    clear:both;
}

.wrapper #main
{
    min-width:805px;
    width:auto;
    _width:805px;
    margin:0 auto;
}

#main
{
    width:80.5em;
    min-width:805px;
    width:auto;
    _width:805px;
    margin:0 auto;
}

#main #content
{
    width:420px;
    float:left;
}

#content h1
{
    font-size:180%;
    color:#39C;
    text-align:left;
    font-weight:bold;
    line-height:1.55;
    margin-bottom:15px;
}

ol, ul
{
    list-style: none;
}


#content ul
{
    margin:0 0 15px;
}

#content #reconnect
{
    background-position:0 3px;
    padding:8px 0 10px 68px;
}

#content #answers
{
    background-position:5px -222px;
    padding:13px 0 10px 68px;
}

#content #power
{
    background-position:0 -144px;
    padding:8px 0 10px 68px;
}

#content li
{
    color:#666;
    font-size:130%;
    margin:0 0 6px;
    background:url('sprite_guesthome_v2.png') no-repeat;
}

.leo-module
{
    margin-bottom:20px;
    padding:0;
    width:100%;
}

.jointoday
{
    width:320px;
    float:right;
    margin-bottom:40px;
}

.leo-module.mod-feat .header
{
    background:#4393BB;
    background:-moz-linear-gradient(top,#73b8db 0,#4393bb 100%);
    background:-webkit-gradient(linear,left top, left bottom,color-stop(0,#73b8db),color-stop(100%,#4393bb));
    background:linear-gradient(top,#73b8db 0%, #4393bb 100%);
    color:#fff;
}

.leo-module .header
{
    -moz-border-radius-topleft:6px;
    -moz-border-radius-topright:6px;
    -webkit-border-top-left-radius:6px;
    -webkit-border-top-right-radius:6px;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    padding:5px 10px;
}

#main .jointoday h2
{
    font-size:140%;
    font-weight:bold;
}

.leo-module .header h2
{
    margin:0;
    font-size:13px;
    font-weight:bold;
}

#main .jointoday .content
{
    padding:10px 10px 5px;
}

.leo-module .content
{
    background:#fff;
    border:1px solid #ddd;
    border-width:0 1px 1px;
    -moz-border-radius-bottomleft:6px;
    -moz-border-radius-bottomright:6px;
    -webkit-border-bottom-left-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    border-bottom-left-radius:6px;
    border-bottom-right-radius:6px;
    padding:6px 10px 8px 10px;
    zoom: 1;
}

#main .joitoday legend
{
    display:none;
}

#main .jointoday ul
{
    clear:both;
    overflow:hidden;
}

#main .jointoday li
{
    margin-bottom:8px;
    overflow:hidden;
}

#main .jointoday li lable
{
    display:block;
    float:left;
    width:100px;
    text-align:right;
    line-height:2.3;
    font-size:130%;
    font-weight:bold;
    color:#333;
    margin-right:10px;
}

#main .jointoday li .fieldgroup
{
    padding-left:110px;
}

#main .jointoday li .error
{
    font-size:120%;
}

span .error
{
    font-weight:bold;
    color:#900;
}

#main .jointoday li input
{
    margin:3px 7px 0 0 ;
    width:175px;
    font-size:130%;
}

#main .jointoday form p.action
{
    float:left;
}

#main .jointoday form p
{
    margin:0 0 8px 110px;
    text-align:left;
    overflow:hidden;
}

#main .jointoday p
{
    font-size:110%;
    text-align:center;
}

.btn-tertiary
{
    background:#69A219;
    background:-moz-linear-gradient(top,#afd47b 0,#afd47b 1px,#8bc03f 1px, #69a219 100%);
    background:-o-linear-gradient(top,#afd47b 0,#afd47b 1px,#8bc03f 1px, #69a219 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #afd47b), color-stop(5%,#afd47b),color-stop(5% ,#8bc03f), color-stop(100%,#69a219));
    background:-linear-gradient(top, #afd47b 0%,#afd47b 1px,#8bc03f 1px,#69a219 100%);
    border-color:#693;
    color:#fff !important;
    font-weight:bold;
    white-space:nowrap;
}

.btn-primary .btn-tertiary
{
    border-width:1px;
    border-style:solid;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    cursor:pointer;
    font-size:12px;
    line-height:1.35;
    margin:0;
    overflow:visible;
    padding:3px 10px 2px;
    text-decoration:none !important;
    vertical-align:top;
    width:auto;
}

#main .jointoday form p.action a
{
    font-size:18px;
    color:#666 !important;
    text-decoration:none;
    cursor:pointer;
}

.progress-indecator
{
    display:none;
}

.already-on-linkedin-message
{
    clear:both;
}

a:visited
{
    color:#069;
}

#main .jointoday form .hint
{
    margin-left:0;
    line-height:1.5;
    color:#666;
    width:180px;
    clear:both;
}

#main .jointoday form p
{
    margin:0 0 8px 110px;
    text-align:left;
    overflow:hidden;
}

#main .jointoday p
{
    font-size:110%;
    text-align:center;
}

#search-browse
{
    border-top:1px solid #CCC;
    padding:20px 0 0;
    width:100%;
    clear: both;
}

#search-browse #search
{
    clear:both;
    overflow:hidden;
    text-align:center;
}

#search-browse #search h3
{
    display:inline;
    padding-right:10px;
    color:#666;
    font-size:160%;
    font-weight:bold;
}

#search-browse #search ul, #search-browse #search p
{
    display:inline;
}

#search-browse #search li
{
    display:inline-block;
    text-align:left;
    padding-right:10px;
}

#search-browse #search lable
{
    position:absolute;
    left:-12345px;
}

#search-browse #search li input
{
    width:150px;
    font-size:130%;
}

#search-browse #search input
{
}

.os-win body, .os-win input, .os-win select, .os-win textarea, .os-win button
{
    font-family:Arial, Sans-Serif;
}

body, input, select, textarea, button
{
    font-family:Sans-Serif;
}

#search-browse #directory
{
    border-bottom:0;
    margin:15px 0 20px;
    padding-bottom:0;
    text-align:center;
    font-size:11px;
}

#directory
{
    color:#666;
    margin:10px 0 20px;
    padding-bottom:15px;
    text-align:center;
    border-bottom:1px solid #ccc;
    white-space:normal;
}

#directory h3
{
    display:inline;
    margin:0;
    padding:0 0 0 8px;
    color:#666;
    font-weight:normal;
    font-size:11px;
}

#directory ol
{
    border-right:0;
    line-height:1.5;
}

#directory p, #directory ol
{
    margin:0;
    padding:0 4px 0 0;
    display:inline;
    font-size:11px;
}

#directory ol li
{
    display:inline;
}

#agreement
{
    text-align:left;
    font-size:110%;
    color:#666;
    border-top:1px solid #ccc;
    padding:20px 0 10px;
}

#agreement strong
{
    font-size:14px;
}

strong
{
    font-weight:bold;
}

a.nlcl-hovercard-trigger, a.nlcl-hovercard-trigger:visited
{
    color:#0077b5;
    text-decoration:none;
}

#directory .country-search
{
    display:block;
}

#footer {
font-size: 12px;
line-height: 14px;
color: #666;
font-weight: normal;
padding-top: 10px;
padding-bottom: 10px;
margin-left: auto;
margin-right: auto;
width: 974px;
border-top: 1px solid #ccc;
}

#body, #footer
{
    margin-left:auto;
    margin-right:auto;
    width:980px;
}

#footer .wrapper .nav-footer li
{
    margin-bottom:3px;
}

#footer .nav-footer>li, #footer #nav-legal>li {
border-right: 1px solid #ccc;
margin-right: 8px;
padding-right: 8px;
margin-top: 5px;
margin-bottom: 5px;
float: left;
}

#nav-utility-lang
{
    visibility:visible;
}

#nav-utility-lang #lang-list
{
    min-width:75px;
    width:auto;
    _width:75px;
    background:#fff;
    -webkit-box-shadow:0 1px 1px 
    rgba(0,0,0,0.15),-1px 0 0
    rgba(0,0,0,0.03),1px 0 0
    rgba(0,0,0,0.03),0 1px 0
    rgba(0,0,0,0.12);
    -moz-box-shadow:0 1px 1px 
    rgba(0,0,0,0.15),-1px 0 0
    rgba(0,0,0,0.03),1px 0 0
    rgba(0,0,0,0.03),0 1px 0
    rgba(0,0,0,0.12);
    box-shadow:0 1px 1px 
    rgba(0,0,0,0.15),-1px 0 0
    rgba(0,0,0,0.03),1px 0 0
    rgba(0,0,0,0.03),0 1px 0
    rgba(0,0,0,0.12);
    background:#fff;
    bottom:1.2em;
    display:none;
    padding:5px;
    position:absolute;
    left:3px;
}

#footer .nav-footer>li.last, #footer #nav-legal>li.last
{
    border-right:none;
}

#footer #copyright {
border-right: 1px solid #ccc;
margin-right: 8px;
padding-right: 8px;
margin-top: 5px;
margin-bottom: 5px;
float: left;
}


#footer #copyright.guest span {
float: left;
height: 16px;
width: 62px;
text-indent: -119988px;
overflow: hidden;
text-align: left;
margin-left: 0px;
margin-right: 3px;
padding-left: 0px;
padding-right: 0px;
margin-top: -2px;
margin-bottom: -2px;
background: url(logo_linkedin_med_grey_trans_64x16_v1.png) no-repeat scroll top left transparent;
}

#search-browse #search .btn-secondary
{
    line-height:1.3;
    min-width:3em;
}

.btn-secondary:hover
{
    background:#B7B7B7;
    background:-moz-linear-gradient(top, #e4e4e4 0, #e4e4e4 1px, #c8c8c8 1px, #b7b7b7 100%);
    background:-o-linear-gradient(top, #e4e4e4 0, #e4e4e4 1px, #c8c8c8 1px, #b7b7b7 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #e4e4e4), color-stop(5%, #e4e4e4), color-stop(5%, #c8c8c8), color-stop(100%, #b7b7b7));
    background:linear-gradient(top, #e4e4e4 0%,#e4e4e4 1px,#c8c8c8 1px,#b7b7b7 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#C8C8C8', endColorstr='#B7B7B7',GradientType=0 );
}

.btn-secondary, .btn-menu-open.btn-secondary:hover
{
    background:#CECECE;
    background:-moz-linear-gradient(top, #f2f2f2 0, #f2f2f2 1px, #e4e4e4 1px, #cecece 100%);
    background:-o-linear-gradient(top, #f2f2f2 0, #f2f2f2 1px, #e4e4e4 1px, #cecece 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #f2f2f2), color-stop(5%, #f2f2f2), color-stop(5%, #e4e4e4), color-stop(100%, #cecece));
    background:linear-gradient(top, #f2f2f2 0%,#f2f2f2 1px,#e4e4e4 1px,#cecece 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#E4E4E4', endColorstr='#CECECE',GradientType=0 );
    border-color:#999;
    color:#666 !important;
}


.btn-primary, .btn-new-primary, .btn-secondary, .btn-new-secondary, .btn-tertiary, .btn-ternary, .btn-quaternary, .btn-action
{
    border-width: 1px;
    border-style: solid;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 12px;
    line-height: 1.35;
    margin: 0;
    overflow: visible;
    padding: 3px 10px 2px;
    text-decoration: none !important;
    vertical-align: top;
    width: auto;
}




















#label_1
{
    font-family:Arial,sans-sarif;
    font-weight:bold;
    font-size:13px;
}






#label_2
{
    
    font-family:Arial,sans-sarif;
    font-weight:bold;
     font-size:13px;
    
  
}

.fieldgroup
{
 
 margin-top:-18px;   
}



#label_3
{
    
    font-family:Arial,sans-sarif;
    font-weight:bold;
     font-size:13px;
}





#label_4
{
    
    font-family:Arial,sans-sarif;
    font-weight:bold;
     font-size:13px;
}


#copyright
{
    clear:both;
}